.bottom {
    display: flex;
    justify-content: right;
    align-items: end;
    text-align: end;
    margin: 5%;
    margin-top: 10%;
}

.middle {
    display: flex;
    justify-content: right;
    align-items: end;
    margin: 5%;
    position: static;
}

.top {
    display: flex;
    justify-content: center
}


.textintrobox {
    height: 450px;
    width: 450px;
    margin-right: 15%;
}

.intro {
    height: 85%;
    width: 85%;
    text-align: center;
}

.contact {
    text-align: center;
    margin-left: 70%;
}

.boarder {
    position: center;
    justify-content: center;
    margin-left: 2%;
}

.informasjonbox {
    height: 250px;
    width: 1200px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.informasjon {
    height: 85%;
    width: 85%;
    text-align: center;
    margin-left: 9%;
}